.header {
  height: 96px;
  padding: 32px 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerLogoCircle {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  width: 12px;
  height: 12px;
}

.headerTitle {
  font-size: 20px;
  font-weight: 900;
  color: var(--color-header-text);
  letter-spacing: -0.5px;
}
